
@{
    ViewData["Title"] = "aracgetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<ArabalarModel>


@foreach(var item in Model)
{

    <div class="card" style="width: 18rem;">
        <img src="~/Araç/@item.Image" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">  @item.Description.</p>
            <p class="card-text">
                @item.Marka
                .
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>


    

  

  
   

}
<h1>aracgetir</h1>

