@{
    ViewData["Title"] = "Iletisim";
}

<div class="container">
    <form class="row g-3 ">
        <div class="col-md-6">
            <label for="isim" class="form-label">İsminiz :</label>
            <input type="text" class="form-control" name="Name" id="Name">
        </div>
        <div class="col-md-6">
            <label for="soyadiniz" class="form-label">Soyadınız : </label>
            <input type="text" class="form-control" id="Surname" name="Surname">
        </div>
        <div class="col-12">
            <label for="mesajiniz" class="form-label">Mesajınz</label>
            <textarea class="form-control" id="Message" name="Message"></textarea>
        </div>
        <div class="col-md-12">
            <label for="email" class="form-label">Email : </label>
            <input type="Email" class="form-control" id="Email" name="Email">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-info">İletişime Gec</button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {


            $("button.btn-info").click(function () {
                event.preventDefault();

                var id = $("#id").val();
                var Name = $("#Name").val();
                var Surname = $("#Surname").val();
                var Message = $("#Message").val();
                var Email = $("#Email").val();

                if (Name.trim() === "") {

                    toastr.error('İsim Alanı Boş Bırakılamaz.');
                    return;
                }
                if (Surname.trim() === "") {

                    toastr.error('Soyadı Alanı Boş Bırakılamaz.');
                    return;
                }
                if (Message.trim() === "") {

                    toastr.error('Mesaj Alanı Boş Bırakılamaz.');
                    return;
                }
                if (Email.trim() === "") {

                    toastr.error('Email Alanı Boş Bırakılamaz');
                    return;
                }

                $.ajax({
                    url: "/Home/IletisimBilgi",
                    type: "POST",
                    data: { Name: Name, Surname: Surname, Message: Message, Email: Email },
                    success: function (response) {
                        toastr.success('Mesajınız Başarılı Bir şekilde İletildi');
                        $("#Name").val("");
                        $("#Surname").val("");
                        $("#Message").val("");
                        $("#Email").val("");
                    },
                    error: function () {
                        toastr.error('Hatalı İşlem yapıyorsunuz.');
                    }
                });
            });
        });



    </script>
}

