<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>

    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .navbar {
            background-color: darkcyan;
            color: #fff;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .contact-info {
            display: flex;
            align-items: center;
        }

            .contact-info a {
                margin-right: 10px;
                color: #fff;
                text-decoration: none;
            }

        .icons {
            display: flex;
            align-items: center;
        }

            .icons i {
                margin-right: 10px;
                color: #fff;
            }
    </style>
</head>
<body>

    <div class="navbar">
        <div class="contact-info">
            <!-- İletişim bilgilerini sol tarafta buraya ekleyebilirsiniz -->
            <a href="#">Iletisim: mbbayirr@icloud.com</a>
            <a href="#">Telefon:(---)-----</a>
        </div>

        <div class="icons">
            <!-- Başka ikonları buraya ekleyebilirsiniz -->
            <a href="https://twitter.com/bayirr_burak" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://instagram.com/mbbayirr" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-instagram"></i>
            </a>

            <a href="https://www.linkedin.com/in/mehmet-burak-bay%C4%B1r-023807251?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
                <i class="fa fa-linkedin"></i></a>


            <!-- ... -->
        </div>
    </div>

    <!-- Diğer sayfa içeriği buraya gelecek -->

</body>
</html>